# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# Environments
.env
.venv/
env/
venv/
ENV/
./env

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Byte-compiled / optimized files
*.egg-info/
.eggs/

# Testing
.coverage
.pytest_cache/
